
body {
    margin : 20px;
    font-family: 'Helvetica';
    color: lightgray;
    background-color: slategrey;
    text-align : center;
}


.container {
    min-width: 600px;
    border : 5px solid black;
    background-color: darkslategrey;
    border-radius : 10%;
    text-align : center;
}


.canvas {
    margin: 20px;
    background-color : #225;
    border : 5px solid black;
    border-radius: 2%;
    display : inline-block;
}